{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "react/prefer-stateless-function": "error",
    "react/prop-types": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/sort-comp": "off",
    "max-len": "off",
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }]

  },
  "plugins": [
    "jest",
    "react",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
